.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .inner-box {
        padding: 32px 30px 20px 30px;
        border-radius: 8px;

    }

    p {
        font-size: 14px;
        margin-top: 0;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin: 0;
        user-select: none;
    }
}
.back-btn{
    cursor: pointer;
}