$enable-negative-margins: true;
$font-family-base: 'Source Sans Pro', sans-serif;
$white: #FFF;
$body-tertiary-bg: #F8F6F4;
$body-secondary-bg: #F5F5F5;
$body-color: #000000;
$primary: #00549E;
$secondary: #7F7F7F;
$dark: $body-color;
$danger: #FF1418;
$info: #007BFF;
$warning: #F6C300;
$success: #2F7735;
$link-color: #0088FF;
$border-color: #7F7F7F;
$input-focus-border-color: $link-color;
$border-radius: .25rem;
$input-padding-y: 0.5rem;
$form-check-input-border-radius: .125rem;
$form-check-input-border: 2px solid $border-color;
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-padding-y: 0.469rem;
$btn-padding-x: 1.085rem;
$box-shadow-sm: 0px 3px 5px 0px rgba($body-color, 0.05);
$box-shadow: 0px 2px 2px 0px rgba($body-color, 0.15);
$navbar-dark-color: $white;
$nav-link-font-size: 15px;
$navbar-dark-disabled-color: rgba($white, .5);
$card-border-radius: 0.375rem;

$table-striped-order: even;
$table-cell-padding-y: .75rem;
$table-cell-padding-x: 1.25rem;
$table-cell-padding-y-sm: $table-cell-padding-y;
$table-cell-padding-x-sm: $table-cell-padding-x;
$table-border-width: 0;
$table-cell-vertical-align:   middle;
$table-th-font-weight:600;

// Custom Variables
$theme-size-10: 0.625rem;
$theme-size-11: 0.6875rem;
$theme-size-12: 0.75rem;
$theme-size-13: 0.8125rem;
$theme-size-14: 0.875rem;
$theme-size-15: 0.9375rem;
$theme-sidebar-width: 14.375rem;
$theme-sidebar-brand-height: 5em;
$theme-header-height: 4rem;
$custom-bg-light-green: #28A745;
$custom-bg-light-blue: #1B7ACE;

// Generate custom classes for width, min-width, height, min-height
@mixin custom-class($property, $value) {
  .custom-#{$property}-#{$value} {
    #{$property}: #{$value}+px;
  }
}

//Custom Outline Buttons hover Changes
@mixin btn-outline-styles($color) {
  --bs-btn-hover-color: #{$color};
  --bs-btn-hover-bg: #{rgba($color, .10)};
  --bs-btn-hover-border-color: #{$color};
  --bs-btn-active-color: #{$color};
  --bs-btn-active-bg: #{rgba($color, .20)};
}

//Responsive Mixins
$below-xsm: 374px;
$below-sm: 575px;
$below-md: 767px;
$below-lg: 991px;
$below-xl: 1199px;
$below-1300: 1299px;
$below-1400: 1399px;
$below-1600: 1600px;
$below-1800: 1800px;

$maxheight600: 600px;
$maxheight400: 400px;

$above-sm: 576px;
$above-md: 768px;
$above-lg: 992px;
$above-xl: 1200px;
$above-1300: 1300px;

@mixin below-xsm {
  @media only screen and (max-width: $below-xsm) {
    @content;
  }
}

@mixin below-sm {
  @media only screen and (max-width: $below-sm) {
    @content;
  }
}

@mixin below-md {
  @media only screen and (max-width: $below-md) {
    @content;
  }
}

@mixin below-lg {
  @media only screen and (max-width: $below-lg) {
    @content;
  }
}

@mixin below-xl {
  @media only screen and (max-width: $below-xl) {
    @content;
  }
}

@mixin below-1300 {
  @media only screen and (max-width: $below-1300) {
    @content;
  }
}

@mixin below-1400 {
  @media only screen and (max-width: $below-1400) {
    @content;
  }
}

@mixin below-1600 {
  @media only screen and (max-width: $below-1600) {
    @content;
  }
}

@mixin below-1800 {
  @media only screen and (max-width: $below-1800) {
    @content;
  }
}

@mixin maxheight600 {
  @media only screen and (max-height: $maxheight600) {
    @content;
  }
}

@mixin maxheight400 {
  @media only screen and (max-height: $maxheight400) {
    @content;
  }
}

@mixin above-sm {
  @media only screen and (min-width: $above-sm) {
    @content;
  }
}

@mixin above-md {
  @media only screen and (min-width: $above-md) {
    @content;
  }
}

@mixin above-lg {
  @media only screen and (min-width: $above-lg) {
    @content;
  }
}

@mixin above-xl {
  @media only screen and (min-width: $above-xl) {
    @content;
  }
}

@mixin above-1300 {
  @media only screen and (min-width: $above-1300) {
    @content;
  }
}

//End of Responsive Mixins