$enable-negative-margins: true;
$font-family-base: "Raleway", serif;
$white: #FFF;
$body-tertiary-bg: #E7E7EF;
$body-secondary-bg: #F5F5F5;
$body-color: #303030;
$primary: #00549E;
$secondary: #C7C6C6;
$dark: #242331;
$danger: #DA220B;
$info: #007BFF;
$warning: #F6C300;
$success: #146C2E;
$link-color: #0088FF;
$border-color: rgba(204, 204, 204, 0.7);
$input-border-color: $secondary;
$input-focus-border-color: $link-color;
$border-radius: .25rem;
$input-padding-y: 0.5rem;
$form-check-input-border-radius: .125rem;
$form-check-input-border: 2px solid $border-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='10' fill='none'><path fill='#{$white}' d='M5.222 9.444.778 5 2.03 3.747l3.191 3.182L11.97.182l1.253 1.262-8 8Z'/></svg>");
$form-switch-color: $white;
$form-switch-focus-color: $form-switch-color;
$form-select-bg-size: 10px 5px;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5' fill='none'><path fill='#{$body-color}' d='M5 5 0 0h10L5 5Z'/></svg>");
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-padding-y: 0.53615rem;
$btn-padding-x: 1.085rem;
$btn-border-radius-lg: $border-radius;
$btn-padding-y-lg: 0.79rem;
$btn-font-size-lg: $btn-font-size;
$box-shadow-sm: 0px 3px 5px 0px rgba($body-color, 0.05);
$box-shadow: 0px 2px 2px 0px rgba($body-color, 0.15);
$navbar-nav-link-padding-x: 0;
$nav-link-font-weight: 500;
$navbar-dark-color: $white;
$nav-link-font-size: 14px;
$navbar-dark-disabled-color: rgba($white, .5);
$card-border-radius: 0.375rem;
$table-cell-padding-x: .75rem;
$table-bg: rgba($body-color, 0.05);
$table-striped-bg: $white;
$table-striped-bg-factor: 1;
$table-border-width: 0;
$table-cell-vertical-align: middle;
$table-th-font-weight: 600;
$pagination-font-size: $btn-font-size;
$pagination-border-radius: 5rem;
$pagination-border-width: 0;
$pagination-bg: $white;
$pagination-color: $body-color;
$pagination-active-color: $body-color;
$pagination-active-bg: rgba($body-color, 0.25);
$pagination-margin-start: .25rem;
$pagination-disabled-color: rgba($body-color, 0.75);
$pagination-disabled-bg: $pagination-bg;
$pagination-padding-y: .25rem;
$pagination-padding-x: .25rem;
$modal-sm: 380px;
$modal-md: 690px;
$modal-lg: 800px;
$modal-inner-padding: 1.5rem;
$modal-footer-margin-between: 1rem;
$modal-content-border-width: 0;
$modal-content-border-radius: 1rem;
$modal-header-padding-y: 1.313rem;
$offcanvas-horizontal-width: 360px;
$offcanvas-padding-y: .938rem;

// Custom Variables
$theme-size-10: 0.625rem;
$theme-size-11: 0.6875rem;
$theme-size-12: 0.75rem;
$theme-size-13: 0.8125rem;
$theme-size-14: 0.875rem;
$theme-size-15: 0.9375rem;
$theme-sidebar-width: 14.375rem;
$theme-sidebar-brand-height: 5em;
$theme-header-height: 4rem;
$custom-bg-light-green: #28A745;
$custom-bg-light-blue: #1B7ACE;

// Generate custom classes for width, min-width, height, min-height
@mixin custom-class($property, $value) {
  .custom-#{$property}-#{$value} {
    #{$property}: #{$value}+px !important;
  }
}

//Custom Outline Buttons hover Changes
@mixin btn-outline-styles($color) {
  --bs-btn-hover-color: #{$color};
  --bs-btn-hover-bg: #{rgba($color, .10)};
  --bs-btn-hover-border-color: #{$color};
  --bs-btn-active-color: #{$color};
  --bs-btn-active-bg: #{rgba($color, .20)};
}

//Responsive Mixins
$below-xsm: 374px;
$below-sm: 575px;
$below-md: 767px;
$below-lg: 991px;
$below-xl: 1199px;
$below-1300: 1299px;
$below-1400: 1399px;
$below-1600: 1600px;
$below-1800: 1800px;

$maxheight600: 600px;
$maxheight400: 400px;

$above-sm: 576px;
$above-md: 768px;
$above-lg: 992px;
$above-xl: 1200px;
$above-1300: 1300px;

@mixin below-xsm {
  @media only screen and (max-width: $below-xsm) {
    @content;
  }
}

@mixin below-sm {
  @media only screen and (max-width: $below-sm) {
    @content;
  }
}

@mixin below-md {
  @media only screen and (max-width: $below-md) {
    @content;
  }
}

@mixin below-lg {
  @media only screen and (max-width: $below-lg) {
    @content;
  }
}

@mixin below-xl {
  @media only screen and (max-width: $below-xl) {
    @content;
  }
}

@mixin below-1300 {
  @media only screen and (max-width: $below-1300) {
    @content;
  }
}

@mixin below-1400 {
  @media only screen and (max-width: $below-1400) {
    @content;
  }
}

@mixin below-1600 {
  @media only screen and (max-width: $below-1600) {
    @content;
  }
}

@mixin below-1800 {
  @media only screen and (max-width: $below-1800) {
    @content;
  }
}

@mixin maxheight600 {
  @media only screen and (max-height: $maxheight600) {
    @content;
  }
}

@mixin maxheight400 {
  @media only screen and (max-height: $maxheight400) {
    @content;
  }
}

@mixin above-sm {
  @media only screen and (min-width: $above-sm) {
    @content;
  }
}

@mixin above-md {
  @media only screen and (min-width: $above-md) {
    @content;
  }
}

@mixin above-lg {
  @media only screen and (min-width: $above-lg) {
    @content;
  }
}

@mixin above-xl {
  @media only screen and (min-width: $above-xl) {
    @content;
  }
}

@mixin above-1300 {
  @media only screen and (min-width: $above-1300) {
    @content;
  }
}

//End of Responsive Mixins