$enable-negative-margins: true;
$font-family-base: 'Source Sans Pro', sans-serif;
$white: #FFF;
$body-tertiary-bg: #F8F6F4;
$body-secondary-bg: #F5F5F5;
$body-color: #000000;
$primary: #005DA5;
$secondary: #7F7F7F;
$dark: $body-color;
$danger: #E12726;
$info: #0088FF;
$warning: #F6BD16;
$success: #28A745;
$link-color: $info;
$border-color: rgba($body-color, 0.25);
$input-border-color: $secondary;
$input-focus-border-color: $link-color;
$input-padding-y: 0.5rem;
$input-padding-x-sm: 0.75rem;
$input-padding-y-sm: 0.282rem;
$input-disabled-color: rgba($body-color, .50);
$input-disabled-bg: #E9E9E9;
$border-radius: .25rem;
$form-check-input-border-radius: .125rem;
$form-check-input-border: 2px solid $border-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='10' fill='none'><path fill='#{$white}' d='M5.222 9.444.778 5 2.03 3.747l3.191 3.182L11.97.182l1.253 1.262-8 8Z'/></svg>");
$form-switch-color: $white;
$form-switch-focus-color: $form-switch-color;
$form-select-bg-size: 10px 5px;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5' fill='none'><path fill='#{$body-color}' d='M5 5 0 0h10L5 5Z'/></svg>");
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-padding-y: 0.469rem;
$btn-padding-x: 1.085rem;
$box-shadow-sm: 0px 3px 5px 0px rgba($body-color, 0.05);
$box-shadow: 0px 2px 2px 0px rgba($body-color, 0.15);
$box-shadow-lg: 0px 4px 4px 0px rgba($body-color, 0.25);
$navbar-dark-color: $white;
$nav-link-font-size: 15px;
$navbar-dark-disabled-color: rgba($white, .5);
$card-border-radius: 0.375rem;
$table-cell-padding-x: .75rem;
$table-bg: rgba($body-color, 0.05);
$table-striped-bg: $white;
$table-striped-bg-factor: 1;
$table-border-width: 0;
$table-cell-vertical-align: middle;
$table-th-font-weight: 600;
$pagination-font-size: $btn-font-size;
$pagination-border-radius: 5rem;
$pagination-border-width: 0;
$pagination-bg: $white;
$pagination-color: $body-color;
$pagination-active-color: $body-color;
$pagination-active-bg: rgba($body-color, 0.25);
$pagination-margin-start: .25rem;
$pagination-disabled-color: rgba($body-color, 0.75);
$pagination-disabled-bg: $pagination-bg;
$pagination-padding-y: .25rem;
$pagination-padding-x: .25rem;
$modal-sm: 380px;
$modal-md: 690px;
$modal-lg: 800px;
$modal-inner-padding: 1.5rem;
$modal-footer-margin-between: 1rem;
$modal-content-border-width: 0;
$modal-content-border-radius: 1rem;
$modal-header-padding-y: 1.313rem;
$grid-gutter-width: 2rem;
$dropdown-item-padding-y: 0.375rem;
$btn-close-color: #6C757D;
$btn-close-opacity: 1;
$btn-close-bg: url("data:image/svg+xml,<svg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.2997 1.20973C12.9097 0.819727 12.2797 0.819727 11.8897 1.20973L6.99973 6.08973L2.10973 1.19973C1.71973 0.809727 1.08973 0.809727 0.699727 1.19973C0.309727 1.58973 0.309727 2.21973 0.699727 2.60973L5.58973 7.49973L0.699727 12.3897C0.309727 12.7797 0.309727 13.4097 0.699727 13.7997C1.08973 14.1897 1.71973 14.1897 2.10973 13.7997L6.99973 8.90973L11.8897 13.7997C12.2797 14.1897 12.9097 14.1897 13.2997 13.7997C13.6897 13.4097 13.6897 12.7797 13.2997 12.3897L8.40973 7.49973L13.2997 2.60973C13.6797 2.22973 13.6797 1.58973 13.2997 1.20973Z' fill='#6C757D'/></svg>");

// Custom Variables
$theme-size-10: 0.625rem;
$theme-size-11: 0.6875rem;
$theme-size-12: 0.75rem;
$theme-size-13: 0.8125rem;
$theme-size-14: 0.875rem;
$theme-size-15: 0.9375rem;
$theme-sidebar-width: 14.375rem;
$theme-sidebar-brand-height: 5em;
$theme-header-height: 4rem;
$custom-bg-light-green: #28A745;
$custom-bg-light-blue: #1B7ACE;
$custom-bg-orange: #DE9800;

// Generate custom classes for width, min-width, height, min-height
@mixin custom-class($property, $value) {
  .custom-#{$property}-#{$value} {
    #{$property}: #{$value}+px !important;
  }
}

//Custom Outline Buttons hover Changes
@mixin btn-outline-styles($color) {
  --bs-btn-hover-color: #{$color};
  --bs-btn-hover-bg: #{rgba($color, .10)};
  --bs-btn-hover-border-color: #{$color};
  --bs-btn-active-color: #{$color};
  --bs-btn-active-bg: #{rgba($color, .20)};
}

//Responsive Mixins
$below-xsm: 374px;
$below-sm: 575px;
$below-md: 767px;
$below-lg: 991px;
$below-xl: 1199px;
$below-1300: 1299px;
$below-1400: 1399px;
$below-1600: 1600px;
$below-1800: 1800px;

$maxheight600: 600px;
$maxheight400: 400px;

$above-sm: 576px;
$above-md: 768px;
$above-lg: 992px;
$above-xl: 1200px;
$above-1300: 1300px;

@mixin below-xsm {
  @media only screen and (max-width: $below-xsm) {
    @content;
  }
}

@mixin below-sm {
  @media only screen and (max-width: $below-sm) {
    @content;
  }
}

@mixin below-md {
  @media only screen and (max-width: $below-md) {
    @content;
  }
}

@mixin below-lg {
  @media only screen and (max-width: $below-lg) {
    @content;
  }
}

@mixin below-xl {
  @media only screen and (max-width: $below-xl) {
    @content;
  }
}

@mixin below-1300 {
  @media only screen and (max-width: $below-1300) {
    @content;
  }
}

@mixin below-1400 {
  @media only screen and (max-width: $below-1400) {
    @content;
  }
}

@mixin below-1600 {
  @media only screen and (max-width: $below-1600) {
    @content;
  }
}

@mixin below-1800 {
  @media only screen and (max-width: $below-1800) {
    @content;
  }
}

@mixin maxheight600 {
  @media only screen and (max-height: $maxheight600) {
    @content;
  }
}

@mixin maxheight400 {
  @media only screen and (max-height: $maxheight400) {
    @content;
  }
}

@mixin above-sm {
  @media only screen and (min-width: $above-sm) {
    @content;
  }
}

@mixin above-md {
  @media only screen and (min-width: $above-md) {
    @content;
  }
}

@mixin above-lg {
  @media only screen and (min-width: $above-lg) {
    @content;
  }
}

@mixin above-xl {
  @media only screen and (min-width: $above-xl) {
    @content;
  }
}

@mixin above-1300 {
  @media only screen and (min-width: $above-1300) {
    @content;
  }
}

//End of Responsive Mixins