@import "./variables";
@import '~bootstrap/scss/bootstrap';

// Custom height and width classes
@include custom-class('height', 26);
@include custom-class('width', 26);
@include custom-class('min-height', 38);
@include custom-class('height', 38);
@include custom-class('width', 38);
@include custom-class('height', 42);
@include custom-class('width', 42);
@include custom-class('height', 60);
@include custom-class('width', 60);
@include custom-class('min-width', 75);
@include custom-class('width', 85);
@include custom-class('min-width', 85);
@include custom-class('min-width', 100);
@include custom-class('width', 110);
@include custom-class('width', 130);
@include custom-class('width', 120);
@include custom-class('min-width', 120);
@include custom-class('width', 150);
@include custom-class('max-width', 150);
@include custom-class('width', 160);
@include custom-class('width', 190);
@include custom-class('width', 200);
@include custom-class('max-width', 200);
@include custom-class('min-height', 200);
@include custom-class('min-width', 240);
@include custom-class('min-width', 210);
@include custom-class('width', 250);
@include custom-class('max-width', 320);

// Bootstrap Custom CSS
.tooltip {
    position: fixed !important;

    .tooltip-arrow {
        display: none;
    }

    &.tooltip-sm {
        --bs-tooltip-max-width: 200px;
    }
}

.form-control {
    &.is-invalid {
        background-image: none;
        padding-right: $input-padding-x;
    }
}

.btn-outline-primary {
    @include btn-outline-styles($primary);
}

.btn-outline-dark {
    @include btn-outline-styles($dark);
}

.btn-outline-secondary {
    @include btn-outline-styles($secondary);
}

.btn-outline-success {
    @include btn-outline-styles($success);
}

.btn-outline-danger {
    @include btn-outline-styles($danger);
}

.form-check {
    .form-check-input {
        cursor: pointer;
    }

    .form-check-label {
        font-size: $theme-size-14;
    }
}

.form-switch {
    .form-check-input {
        cursor: pointer;
        --bs-form-check-bg: var(--bs-secondary);
        border-color: var(--bs-secondary);
        height: 1rem;

        &:checked,
        &:focus {
            background-color: var(--bs-success);
            border-color: var(--bs-success);
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($success, .25);
        }

    }
}

// Custom CSS
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.mw-1 {
    min-width: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.theme-loader-z-index {
    z-index: 1060 !important;
}

.bg-light-green-custom {
    background-color: $custom-bg-light-green;
}

.spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    @keyframes fa-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
}

.theme-card-header {
    h5 {
        padding-left: 70px;

        .theme-icon-box {
            top: -36px;

            .theme-icon-box-inner {
                width: 35px;
                height: 24px;

                svg {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
}

.theme-modal {
    .modal-dialog-scrollable {
        .modal-content {
            >form {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                max-height: 100%;
            }
        }
    }
}