@import '../../assets/css/variables';

.theme-steps-progress {
    li {
        &:not(:first-child) {
            padding-left: 1.25rem;

            @include below-lg() {
                padding-left: .5rem;
            }
        }

        &:not(:last-child) {
            padding-right: 1.25rem;

            @include below-lg() {
                padding-right: .5rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 16px;
                left: 50%;
                width: 100%;
                height: 3px;
                background-color: $custom-gray;
                z-index: -1;
            }
        }

        .theme-steps-progress-circle {
            background-color: $custom-gray;
        }

        &.step-current {
            .theme-steps-progress-circle {
                background-color: $primary;
                animation: pulse 1s infinite;
            }
        }

        &.step-completed {
            &:not(:last-child) {
                &::before {
                    background-color: $primary;
                }
            }

            .theme-steps-progress-circle {
                background-color: $primary;

                .theme-steps-icon {
                    display: none;

                }

            }
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px $primary;
    }

    100% {
        box-shadow: 0 0 0 8px rgba($dark, 0);
    }
}