@import '../../../assets/css/variables';

.theme-header {
    .custom-min-height-70 {
        @include below-lg() {
            min-height: 60px !important;
        }
    }

    .navbar-brand {
        img {
            @include below-lg() {
                max-width: 180px;
            }
        }
    }

    .header-menu-links {
        .nav-link {
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .notificationDropdown {

        .dropdown-toggle {
            .customBadge {
                line-height: 0.572;
                margin-left: -1.1rem;
            }

            &::after {
                display: none;
            }
        }

        .theme-notification-menu {
            ul {
                width: 380px;
                max-width: 100%;
                max-height: 380px;

                @include below-sm() {
                    width: 280px;
                }

                @include below-xsm() {
                    width: 220px;
                }

                @include maxheight400() {
                    max-height: calc(80vh - $theme-header-height);
                }
            }
        }
    }
}