@import '../../../assets/css/variables';

.theme-header {
    .custom-min-height-70 {
        @include below-lg() {
            min-height: 60px !important;
        }
    }

    .navbar-brand {
        img {
            @include below-lg() {
                max-width: 180px;
            }
        }
    }

    .header-menu-links {
        .nav-link {
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
}