@import '../../../assets/css/variables';

.theme-header {
    .custom-min-height-70 {
        @include below-md() {
            min-height: 60px;
        }
    }

    .navbar-brand {
        img {
            @include below-md() {
                max-width: 180px;
            }
        }
    }
}