@import "../../src/assets/css/variables";

.table-cover-main {
    pre {
        font-family: var(--bs-body-font-family);
        font-size: $theme-size-14 ;
    }

    .table {
        th {
            white-space: nowrap;
        }

        th,
        td {
            height: 50px;
            vertical-align: middle;

            &:first-child {
                padding-left: 1.5rem;
            }

            &:last-child {
                padding-right: 1.5rem;
                width: 120px;
            }
        }
    }

    .pagination-cover {
        .page-link {
            min-width: 2rem;
            min-height: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}