@import "../../src/assets/css/variables";
.table-cover-main {
    .table {

        th,
        td {
            height: 50px;
            vertical-align: middle;

            &:first-child {
                padding-left: 1.5rem;
            }

            &:last-child {
                padding-right: 1.5rem;
                width: 120px;
            }
        }
    }
}