@import "../../src/assets/css/variables";

.sun-editor-cover {
    &.is-invalid {
        .sun-editor {
            border-color: var(--bs-form-invalid-border-color);
        }
    }

    .sun-editor {
        border-radius: var(--bs-border-radius);
        border-color: var(--bs-border-color);

        .se-toolbar {
            background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
            border-top-left-radius: var(--bs-border-radius);
            border-top-right-radius: var(--bs-border-radius);
            outline-width: 0;
            border-bottom: 1px solid var(--bs-border-color);
        }

        .se-resizing-bar {
            border-bottom-left-radius: var(--bs-border-radius);
            border-bottom-right-radius: var(--bs-border-radius);
        }
    }
}