<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.fi.user.creation.title}">FI User creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.fi.user.creation.greeting(${user.firstName})}">Dear</p>
    <p th:text="#{email.fi.user.creation.text1(${user.organization.razonSocial})}">Your FI User account has been created, please click on the URL below to access it:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login Link</a>
    </p>
    <p>
      <span th:text="#{email.fi.user.creation.text2}">Regards, </span>
      <br />
      <em th:text="#{email.signature}">SEPS-Cambridge Team.</em>
    </p>
  </body>
</html>
