@import "../src/assets/css/variables";

// .form-floating {

// 	>.form-control,
// 	>.form-control-plaintext,
// 	>.form-select {
// 		height: 44px;
// 		min-height: 44px;
// 	}

// 	>label {
// 		padding: 0.6rem 0.75rem;
// 	}

// 	>.form-control,
// 	>.form-control-plaintext {
// 		&:focus {
// 			padding-top: 0.625rem;
// 		}

// 		&:not(:placeholder-shown) {
// 			padding-top: 0.625rem;
// 		}
// 	}

// 	>.form-control:focus~label,
// 	>.form-control:not(:placeholder-shown)~label,
// 	>.form-control-plaintext~label,
// 	>.form-select~label {
// 		transform: scale(0.85) translateY(-1.4rem) translateX(0.15rem);
// 	}
// }

// .form-floating>.form-control:focus~label,
// .form-floating>.form-control-plaintext~label,
// .form-floating>.form-select~label {
// 	transform: scale(0.625) translateY(-1.4rem) translateX(0.15rem);
// 	color: #000;
// 	font-weight: 600;
// }


// .react-select-container {
// 	.react-select__control {
// 		height: 44px;
// 	}

// 	+label {
// 		background: #fff;
// 		padding: 8px 3px;
// 		z-index: 999;
// 		margin: 1px 5px;
// 		height: 37px;
// 	}
// }


// .react-select__control:focus {
// 	box-shadow: none;
// }



// .goal-modal-cover .modal-title {
// 	font-size: 16px;
// 	color: #000;
// 	font-weight: 600;
// }

// .goal-modal-cover {
// 	border-radius: 16px;
// }

.student-details-cover {
	background-color: #F1F1F1;
	padding: 16px;
	border-radius: 8px;

	p {
		margin-bottom: 0;
		font-size: 13px;
	}

	label {
		font-size: 13px;
		font-weight: 600;
	}
}

.status-radio {
	input {
		margin-right: 10px;
	}

	.form-check-input:checked {
		background-color: #fff;
		border-color: #2F61A8;
		background-size: 16px;
		background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%232F61A8%27/%3e%3c/svg%3e");
	}
}

.form-control__calendar {
	svg {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-50%, 50%);
	}
}

// .react-select-menu {
// 	z-index: 999;
// }

.w-20 {
	width: 20%;
}

.mail-text {
	font-weight: normal;
	color: #404040;
}

.password-icon {
	position: absolute;
	right: 14px;
	top: 41px;
	color: #000;

}

// .multiselect-height .react-select__control {
// 	min-height: 32px;
// }

// .modal {
// 	.modal-header {
// 		.modal-title {
// 			font-size: 18px;
// 			font-weight: 600;
// 		}

// 		button {
// 			background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
// 			opacity: 9;
// 			background-size: 14px;
// 			background-repeat: no-repeat;
// 			padding: 0;
// 			width: 14px;
// 			height: 14px;
// 			position: relative;
// 			right: 8px;
// 		}
// 	}

// 	.modal-footer {
// 		border-color: rgba(0, 0, 0, .25);

// 		.footerBtnSubmit {
// 			font-weight: 600;
// 			padding-left: 18px !important;
// 			padding-right: 18px !important;
// 		}
// 	}
// }

.navbar-nav {
	.nav-item {
		svg {
			min-width: 18px;
			min-height: 18px;
		}

		.sub-menu-arrow svg {
			width: auto !important;
			height: auto !important;
		}

	}
}

@include below-md() {
	.mobile-100-width {
		width: 100%;
		margin-top: 15px;
	}

	.pad-right-70 {
		padding-right: 15px !important;
	}

	.pad-left-70 {
		padding-left: 15px !important;
	}

	.profile-right-width {
		width: 100% !important;
		margin-bottom: 20px;
	}
}

.phone-country-code {
	width: 100px;
	margin-right: 10px;
}

.image-outer {
	width: 100px;
	height: 100px;
	border: 1px solid #7F7F7F;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

}

.custom-upload-btn {
	position: relative;
}

.custom-upload-btn input {
	opacity: 0;
	position: absolute;
	width: 100px;
	left: 0;
}

.pad-right-70 {
	padding-right: 42px;
}

.pad-left-70 {
	padding-left: 42px;
}

// select {
// 	background: url(../src/assets/images/down.svg) no-repeat;

// 	background-position: calc(100% - 12px);
// 	appearance: none;
// 	padding-right: 30px !important;
// }

.profile-right-width {
	width: 70%;
}

.page-header-icon {
	svg {
		width: 30px;
		height: 35px;
	}
}

.page-header-user-icon {
	svg {
		width: 21px;
		height: 22px;
	}
}


// .header-search {
// 	input.form-control {
// 		height: 32px !important;
// 		font-size: 14px !important;
// 	}

// 	.react-select-container .react-select__control {
// 		height: inherit;
// 		min-height: 32px;
// 		border-radius: 4px !important;
// 	}

// 	.react-select-container .react-select__menu {
// 		min-width: 120px;
// 	}

// 	.react-select__dropdown-indicator {
// 		padding: 0px 5px !important;
// 	}

// 	.react-select__value-container {
// 		padding-top: 0px;
// 		padding-bottom: 0px;
// 		border-color: #7F7F7F !important;
// 		font-size: 14px;
// 		color: #000 !important;
// 	}

// 	.react-select__indicator {
// 		padding: 3px !important;
// 	}

// 	.react-select__placeholder {
// 		color: #000 !important;
// 	}

// 	input.form-control::-webkit-input-placeholder {
// 		color: #000;
// 		opacity: .5
// 	}

// 	input.form-control::-moz-placeholder {
// 		color: #000;
// 		opacity: .5
// 	}

// 	input.form-control:-ms-input-placeholder {
// 		color: #000;
// 		opacity: .5
// 	}

// 	input.form-control:-moz-placeholder {
// 		color: #000;
// 		opacity: .5
// 	}
// }

// .theme-from-footer {
// 	margin-left: -20px;
// 	margin-right: -20px;
// 	border-color: rgba(0, 0, 0, .25) !important;
// 	padding-bottom: 15px !important;
// }

// input[type="radio" i] {
// 	background-color: initial;
// 	cursor: default;
// 	appearance: auto;
// 	box-sizing: border-box;
// 	margin: -2px 3px 0px 5px;
// 	padding: initial;
// 	border: initial;
// 	vertical-align: middle;
// 	position: relative;
// 	width: 14px;
// 	height: 14px;
// }

// input[type='radio']:after {
// 	width: 14px;
// 	height: 14px;
// 	border-radius: 15px;
// 	top: 0px;
// 	left: 0px;
// 	position: absolute;
// 	background-color: #fff;
// 	content: "";
// 	display: inline-block;
// 	visibility: visible;
// 	border: 1.5px solid #1C1B1F;

// }

// input[type='radio']:checked:after {
// 	width: 16px;
// 	height: 16px;
// 	border-radius: 15px;
// 	top: 0px;
// 	left: 0px;
// 	position: absolute;
// 	content: "";
// 	display: inline-block;
// 	visibility: visible;
// 	border: none;
// 	background-image: url(assets/images/radio_button_checked.svg);
// 	background-repeat: no-repeat;

// }


.link-text {
	font-size: 14px;
	color: #0088FF;
	word-break: break-all;

}

.add-claim-list {
	list-style: none;
	margin-top: 10px;
	padding: 0px;

	.link-text {
		margin-bottom: 5px;

		span {
			svg {
				vertical-align: top;
			}
		}
	}

	.cross-icon {
		margin-left: 10px;
		padding-top: 1px;
		vertical-align: middle;
		display: inline-block;
		height: 14px;
	}

}

.template-upload {
	width: 144px !important;
	min-width: 144px;
}

.contentHeader {
	margin-bottom: 15px;
}

.assign-title {
	margin: 0px -20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCCB2;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.import-consumer-box {
	border-radius: 4px;
	border-color: #7F7F7F;
}

.down-color {
	color: #0088FF;
	text-decoration: none !important;
}

.active-label {
	padding: 3px 8px;
	background: #CAEADE;
	color: #49a077;
	border-radius: 41px;
	display: initial;
	font-size: 12px;
	font-weight: 600;
}

.pending-label {
	padding: 3px 8px;
	background: #FFF7CC;
	color: #775F19;
	border-radius: 41px;
	display: initial;
	font-size: 12px;
	font-weight: 600;
}

.rejected-label {
	padding: 3px 8px;
	background: #F7D3D8;
	color: #EA4632;
	border-radius: 41px;
	display: initial;
	font-size: 12px;
	font-weight: 600;
}

.multiselect .react-select__indicators,
.multiselect .react-select__multi-value {
	display: none;
}

.multiselect .react-select__value-container {
	background: url(../src/assets/images/settings.svg) no-repeat;
	background-position: center;
	width: 35px;
}

.multiselect .react-select__placeholder,
.multiselect .react-select__input-container {
	opacity: 0;
}

.multiselect .react-select__menu {
	min-width: 220px;
	right: 0 !important;
	left: inherit !important;
}

.multiselect .react-select__control {
	min-height: 32px;
}

.multiselect .react-select__option--is-focused,
.multiselect .react-select__option--is-fselected {
	background-color: #fff !important;
	color: #000 !important;
}

.multiselect .react-select__option {
	background-color: #fff !important;
	color: #000 !important;
}

.multiselect .react-select__option label {
	font-size: 14px;
	font-weight: normal;
	margin-left: 5px;
}

.file-details textarea {
	height: 125px;
	resize: none;
	width: 366px;
	border: 1px solid #7F7F7F !important;
	border-radius: 4px;
	padding: 10px !important;
}

.file-details {
	display: grid;
}

// .react-select__indicator-separator {
// 	display: none;
// }

.chart-cover {
	width: calc(100% - 130px);
}

.max-w-300 {
	max-width: 300px;
	line-height: 22px;
}

.black-header {

	display: flex;
	justify-content: center;
	width: 100%;
}

.home-banner-bg {
	background: url(../src/assets/images/bannerbg.jpg) no-repeat;
	background-size: cover !important;
	background-position: center center !important;
	padding: 100px;
	min-height: 650px;
	display: flex;
	align-items: center;
}

.max-w-776 {
	max-width: 776px;
	margin: 0 auto;
}

.header-new-menu {
	padding-top: 10px;
	padding-bottom: 10px;
}

.title-line {
	line-height: 40px;
	margin-bottom: 16px;
}

.py-03 {
	padding-top: 3px;
	padding-bottom: 3px;
}

.mission-repeat {
	border: 1px solid #E2E2E2;
	border-radius: 8px;
	padding: 24px;
	margin-bottom: 24px;
}

.mission-left {
	min-width: 80px;
}

.section-3rd {
	background: #484746;
	padding-top: 56px;
	padding-bottom: 56px;
}

.subsidized_program_cover {
	padding: 24px;
	border-radius: 12px;
	background: #FFF;
	box-shadow: 0px 4px 14.3px 0px rgba(0, 0, 0, 0.09);
}

.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-5th {
	background: #2B2A29;
}

.section-contact {
	background-size: cover;
	padding-bottom: 0;
}

.contact-form-cover {
	max-width: 576px;
	padding: 32px;
	margin: 0 auto;
	border-radius: 16px 16px 0px 0px;
	border: 1px solid rgba(255, 255, 255, 0.50);
	background: rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(22px);
}

.contact-textarea {
	width: 100%;
	height: 82px;
	resize: none;
	padding: 15px;
	border-radius: 4px;
	border: none;
}

.footer-one {

	padding: 28px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.bg-new-black {
	background: #2B2A29;
}

.custom-flex {
	flex: 1;
}

.home-table tr {
	border: 1px solid #E9E9E9;
}

.home-table table {
	border-radius: 6px;
	overflow: hidden;
}

.home-table table td {
	background: transparent;
}

.home-table table tbody tr:nth-of-type(odd) {
	background-color: transparent !important;
}

.Newsupdatedetails-cover {
	padding-top: 49px;
	padding-bottom: 49px;
}

.color-brown {
	color: #808080;
}

.mr3 {
	margin-bottom: 3px;
}

.semi-news-cover {
	border-bottom: 1px solid #D9D9D9;
}

.left-one {
	min-width: 71px;
	max-width: 100px;
}


.notification-count {
	left: 45px;
	top: 10px !important;
}

.react-dropdownheight-40 .react-select-container .react-select__control {
	height: 40px;
}

.chart-area-tab {
	padding: 0 12px;
}

.chart-area-tab .theme-card-header {
	padding: 0 !important;
}

.chart-area-tab .card {
	height: 100%;
}

.chart-area-tab .chart-cover div:first-child {
	width: 100%;
}

.chart-area-tab .chart-cover {
	width: 100%;
}

.chart-area-tab .card .card-header+div {
	width: 100%;
}

.dashbord-month-select {
	max-width: 300px;
}

.dashbord-Category-select {
	max-width: 200px;
}

.dashbord-select1 {
	min-width: 130px
}

.dashbord-select2 {
	min-width: 147px
}

.home-banner .react-multi-carousel-list {
	padding-bottom: 0px;
}

.home-banner .react-multiple-carousel__arrow--left {
	left: 30px;
}

.home-banner .react-multiple-carousel__arrow--right {
	right: 30px;
}

.dashbord-rotate-text {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 40px;
	margin-right: 15px;
}

.dashbord-rotate-text span {
	white-space: nowrap;
	transform: rotate(270deg);
	display: block;
	width: 100%;
	font-size: 14px;
}

.dashbord-rotate-text-Subsidy {
	margin-top: 90px;
	margin-right: 0;
}

.dashboard-table th {
	background-color: #E9E9E9 !important;
}

.dashboard-table th:first-child {
	border-right: 1px solid #A0A0A0;
	width: 180px;
}

.dashboard-table tr {
	height: inherit;
}

.dashboard-table th,
.dashboard-table td {
	padding: 6px !important;
}

.dashboard-bottom-table table {
	border: 1px solid #a0a0a0;
}

.dashboard-bottom-table table td {
	border: 1px solid #a0a0a0;
}

.dashboard-bottom-table table th {
	border: 1px solid #a0a0a0;
	background: #A12B31;
	color: #fff;
}

.dashboard-bottom-table table tr:last-child td:first-child {
	font-weight: bold;
}

.dashboard-bottom-table table tr:last-child td {
	background: #e78f8f !important;
}

@media only screen and (max-width: 1500px) {
	.pie_width_height>div {
		height: 440px !important;
	}

	.max-w-300 {
		max-width: 230px;

	}

	.total-subsidized {
		font-size: 18px;
		padding-top: 8px;
	}
}

@media only screen and (max-width: 1024px) {
	.custom-new-wrap {
		flex-flow: wrap;
	}

	.custom-flex {
		flex: 0 auto;
		width: 32%;
		margin-bottom: 10px;
	}

	.border-end {
		border-right: none;
	}

	.font-normal {
		font-weight: normal !important;
	}

	.max-w-300 {
		max-width: 300px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 991px) {
	.max-w-300 {
		max-width: 300px;
		line-height: 15px;
		font-size: 14px !important;
	}
}

.min-height {
	max-height: 200px;
	overflow: auto;
	width: 200px;
	word-break: break-all;
	padding: 10px;
}

.banner-object {
	object-position: right;
}

@media only screen and (max-width: 991px) {
	.pad-right-70 {
		padding-right: 15px;
	}

	// .react-select-container {
	// 	margin-bottom: 25px;
	// }

	.profile-right-width {
		width: 100%;
		margin-bottom: 25px;
	}

	// .header-search .react-select__value-container {
	// 	font-size: 12px;
	// }
}



/**slider css**/
.slider {
	overflow: "hidden";
	margin: 0;
	padding: 8px;

	img {
		max-width: 100%;
		border-radius: 10px;
		max-height: 173px;
		width: 100%;
		object-fit: contain;

	}
}

.slider-bg {
	padding: 3px;
	background: #454442;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 16px;
	height: 100%;
}

.custom-dot-list-style button {
	border: none;
	background: #fff(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
	width: 23px;
	background: rgba(255, 255, 255, 1);
}

.react-multiple-carousel__arrow--left {
	left: 2px;
}

.react-multiple-carousel__arrow--right {
	right: 2px;
}

.react-multiple-carousel__arrow {
	background: Maroon;
}

.react-multiple-carousel__arrow:hover {
	background: Maroon;
}

.react-multi-carousel-list {
	padding-bottom: 45px;
}

.react-multi-carousel-dot button {
	width: 11px;
	height: 5px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .1);
}

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-contactUs {
	background: #611a1d;
	color: #fff !important;
	padding: 10px;
	min-width: 96px;
}

.custom-min-width-130 {
	min-width: 130px
}

.custom-min-width-140 {
	min-width: 140px;
}

.dasborard-table-new {
	border: 1px solid #ddd;
}

.dasborard-table-new th {
	background-color: $info;
	color: #fff;
	padding: 7px !important;
}

.dasborard-table-new td {
	padding: 7px !important;
}

.dasborard-table-new thead tr {
	height: 38px;
}

.pie_width_height>div {
	width: 100%;
	height: 290px;
}

.bar_width_height {
	width: 100%;
}

.bar_width_height>div {
	width: 100%;
	height: 290px;
}

.section-contact ul {
	list-style: none;
	padding-left: 0;
}

.pie_width_height>div .MuiChartsLegend-root {
	margin-top: 15px;
}

.header-bangla {
	min-width: 338px;
}

.max-220 {
	max-width: 220px;
	min-width: 120px;
}

.total-subsidized {
	font-size: 18px;
	padding-top: 8px;
}

.dashboard-table td {
	word-break: break-word;
}